<div
    class="item-wrapper"
    ng-class="{
      'included': modifierService.isIncluded(model.id),
      'excluded': modifierService.isExcluded(model.id)
    }">

  <button
      class="btn btn-success glyphicon glyphicon-pushpin"
      ng-if="modifierService.isPinned(model.id)"
      ng-click="modifierService.unpin(model.id); modifierService.$retrieveContent()">
  </button>
  <button
      class="btn btn-default glyphicon glyphicon-pushpin"
      ng-if="!modifierService.isPinned(model.id)"
      ng-click="modifierService.pin(model.id); modifierService.$retrieveContent()">
  </button>

  <div>
    ID: {{ model.id }} | {{ model.feature_type }}<br>
    Title: {{ model.title }}<br>
    Published: {{ model.published | date : 'M/d/yyyy, h:mm a' }}<br>
  </div>

  <button
      class="btn-minimalized"
      ng-if="!modifierService.isExcluded(model.id)"
      ng-click="modifierService.exclude(model.id); modifierService.$retrieveContent()">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
  <button
      class="btn-minimalized"
      ng-if="modifierService.isExcluded(model.id)"
      ng-click="modifierService.unexclude(model.id); modifierService.$retrieveContent()">
    <i class="glyphicon glyphicon-repeat"></i>
  </button>
</div>
